* { margin: 0; padding: 0; }
body { 
    background-color: #FFF;
    width: 100%;
    position: relative;
}
a { text-decoration: none; color: #000; }
a:hover { background-color: #F3F3F3; }
p, td { font-family: Helvetica, Arial, Sans-Serif; font-size: 12pt; }
li { list-style: none; }
#navMenu {
    background-color: #F3F3F3;
    width: 15%;
    height: 100%;
    float: left;
}
#navMenu p { padding: 3% 0 3% 40%; }
#navMenu p:hover, #mailList tr:hover { background-color: #F9F9F9!important; }
#contentPanel {
    width: 85%;
    float: right;
}
#header { background-color: #F3F3F3; text-decoration: none; border: none; text-align: left; font-family: Helvetica, Arial, Sans-Serif; font-size: 14pt; }
table { 
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}
/*#mailList {
    display: block;
    max-height: 125px;
    overflow-y: auto;
    overflow-x: hidden;
}*/
#exerpt { color: #5C5C5C; }
/*tr { width: 100%; }*/
td { /*display: block; width: 100%;*/ 
    padding: 7px 0 6px 7px; 
    overflow: hidden; 
    white-space: nowrap;
}
.colA, th.colA { width: 17%; }
.colB, th.colB { width: 67%; }
.colC, th.colC { width: 15%; }